/*
 * Styles for the time slider
 * All elements of the timeslider are beneath a svg element with a class of 'timeslider'
 */
svg.timeslider {
  width: 99%;
  height: 4em;
  background: white;
  opacity: .8;
  border: 1px solid white;
  border-radius:  4px;

  .axis {
    fill: none;

    .tick.minor {
      stroke: rgba(100, 100, 100, 0.25);
      shape-rendering: crispEdges;
    }

    .tick.major {
      stroke: rgba(100, 100, 100, 1);
      shape-rendering: crispEdges;

      text {
        stroke: rgb(0, 0, 0);
        font: .7em sans-serif;
      }
    }

    .domain {
      stroke: rgba(100, 100, 100, 1);
      shape-rendering: crispEdges;
    }
  }

  .brush {
    .extent {
      opacity: .6;
    }
  }

  .datasets {
    path {
      stroke-width: 3;
      shape-rendering: crispEdges;
    }

    circle {
      r: 2;
    }
  }
}
