/*
 * Styles for the time slider
 * All elements of the timeslider are beneath a svg element with a class of 'timeslider'
 */
svg.timeslider {
  width: 99%;
  height: 4em;
  background: white;
  opacity: .8;
  border: 1px solid white;
  border-radius:  4px;

  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  .axis text {
    font: bolder .7em sans-serif;
  }

  .grid path,
  .grid line {
    fill: none;
    stroke: rgba(100,100,100,0.25);
    shape-rendering: crispEdges;
  }

  .brush .extent {
    opacity: .8;
  }
}
